<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>

          <!-- inline 而且沒有標頭 list-unstyled list -->
          <!-- 發現似乎只要設定 list inline 即可，標頭就會消失 -->
          <ul class="list-inline list-unstyled">
            <li><%= @user.commented_restaurants.count %> 間已評論餐廳</li>
            <li><%= @user.favorited_restaurants.count %> 間已收藏餐廳</li>
            <li><%= @user.follow_targets.count %> followings</li>
            <li><%= @user.followers.count %> followers</li>
          </ul>

          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit User Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="clearfix"></div>

      </div>

      <br>

      <div class="col-md-4">
        <!-- 顯示追蹤了哪些使用者 -->
        <!-- panel 包一個 list-group -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= "#{@user.follow_targets.count} followings" %>
          </div>

          <ul class="list-group">
            <% @user.follow_targets.each do |follow_target| %>
              <li class="list-group-item">
                <%= link_to user_path(follow_target.id) do %>
                <div class="my-following">
                  <%= image_tag follow_target.avatar, class: "img-circle" %>

                  <%= follow_target.name %>
                </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div><%# .panel .panel-default %>

        <!-- 顯示有哪些使用者追蹤了我 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= "#{@user.followers.count} followers" %>
          </div>

          <div class="panel-body">
            <% @user.followers.each do |follower| %>
              <%= link_to user_path(follower.id) do %>
                <div class="my-following">
                  <%= image_tag follower.avatar, class: "img-circle" %>
                  <%= follower.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div><%# .panel .panel-default %>
      </div><%# .col-md-4 %>

      <div class="col-md-8">
        <!-- 顯示已評論過的餐廳 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= "#{@commented_restaurants.count} 間已評論餐廳" %>
          </div>

          <div class="panel-body">
            <% @commented_restaurants.each do |restaurant| %>
              <%= link_to restaurant_path(restaurant.id) do %>
                <%# 這行不能放在 link_to 外面，因爲 link_to 會產生 連結 <a></a> css 設定的 my-restaurant > div 就會吃不到 %>
                <div class="my-restaurant">
                  <div>
                    <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
                  </div>
                  <%= restaurant.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div><%# .panel .panel-default %>

        <div class="clearfix"></div>

        <!-- 顯示收藏的餐廳 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= "#{@user.favorited_restaurants.count} 間已收藏餐廳" %>
          </div>

          <div class="panel-body">
            <% @user.favorited_restaurants.each do |restaurant| %>
              <%= link_to restaurant_path(restaurant.id) do %>
                <%# 這行不能放在 link_to 外面，因爲 link_to 會產生 連結 <a></a> css 設定的 my-restaurant > div 就會吃不到 %>
                <div class="my-restaurant">
                  <div>
                    <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
                  </div>
                  <%= restaurant.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div><%# .panel .panel-default %>
      </div><%# .col-md-8 %>

    </div> <!-- .col-md-10 .col-md-offset-1 -->
  </div> <!-- .row -->
</div> <!-- .container -->
