<div class="container">

  <h1>餐廳分類總表</h1>
  <div>
    <%= link_to 'Restaurant', admin_restaurants_path %> |
    <%= link_to 'Category', admin_categories_path %>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div>
        <div class="form-inline">
          <%= form_for [:admin, @category] do |f| %>
            <div class="form-group">
              <%= f.text_field :name, placeholder: "Category Name", class: "form-control" %>
            </div>
            <%= f.submit class: "btn btn-primary" %>
            <!-- add user create error message hint. -->
            <% if @category.errors.any? %>
              <%= @category.errors.full_messages.to_sentence %>
            <% end %>
          <% end %>

        </div>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Primary Key(ID)</th>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <th scope="row"><%= category.id %></th>
            <td><%= category.name %></td>
            <td>

              <!-- 記得是在首頁編輯 -->
              <%= link_to 'Edit', admin_categories_path(id: category.id) %>
              <%= link_to 'Delete', admin_category_path(category.id), method: :delete, data: { confirm: "Are you sure?"} %>

            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <!-- paginate 是kaminari的hepler，可以幫我們產出分頁按鈕的html -->
        <%# paginate @categories %>
      </div>

    </div>

  </div>
</div>
